#header{
    background: #e74c3c;
    color: white;
}

#news a{
    text-decoration: none;
}
.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section h2.section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head:after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

#logo{
    font-size: 1.5rem;
    margin-top: 10px;
}

#menu{
     list-style: none;
     margin: 0;
     padding: 0;
}

#menu li{
      display: inline-block;
     
}

#menu li a{
    text-decoration: none;
}

#menu li a{
    background: #e74c3c;
    color: white;
    padding: 15px 10px;
    display: block;
   
}

#menu li a:hover {
    background-color: #c0392b;
  }

  #menu li a:hover{
    background-color: #c0392b;
  }
#banner{
    background: url(/images/banner2.jpg) no-repeat 0 0;
    background-size: cover;
}

.banner-title{
    padding-top: 4rem ;
}

.banner-title h1{
           background: rgba(255,255,255,0.8);
           display: inline-block;
           padding: 10px;
           margin: 0;
}

.banner-title p.lead{
    color: white;
    background: rgba(231,76,60,0.7);
    padding: 10px;
}

.service-box{
    text-align: center;
}

.service-box i.fa{
       color: #e74c3c;
       font-size: 50px;
       margin-bottom: 10px;
}

#testemonials{
    color: white;
    background: url(/images/banner4.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
    margin: 0;
    position: relative;
}

#testemonials:before{
    background: rgba(52,73,94,0.3);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.testemonial img{
    border-radius: 50%;
}

/*.post1{
    height: 100%;
    width: 150px;
    object-fit: contain;
}

.post2{
    height: 100%;
    width: 150px;
    object-fit: contain;
}

.post3{
    height: 100%;
    width: 150px;
    object-fit: contain;
}

.post4{
    height: 100%;
    width: 150px;
    object-fit: contain;
}*/

.news-post img{
    height: 100%;
    width: 200px;
    object-fit: contain;
    margin-bottom: 15px;

}
.news-post h3{
    font-size: 1.35rem;
}
.news-post h3 a{
    color: #e74c3c;
}
.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}
.post-date::before{ content: "\f073";
              font-family: FontAwesome;
              padding-right: 5px;
}
a.readmore::after{
    content: "\f101";
    font-family: FontAwesome;
    padding-left: 5px;
}
a.readmore{
    font-size: 14px;
    color: #e74c3c;
}

#footer-sidebar{
    color: white;
    background: #34495e;
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background: white;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}
.footer-widget a{
    color: white;
}


.latest-news li a{
    text-decoration: none;

}

.latest-news{
    list-style: none;
    padding: 0;
    margin: 0;
}

.latest-news{
    margin-bottom: 3px;
}
.latest-news li::before{
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}
#footer{
    background: #2c3e50;
    color: white;
    padding: 10px 0;
}
#social-icons{
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

#social-icons li{
    display: inline-block;
    padding-left: 5px;
}
#social-icons li a{
    color: white;
    font-size: 23px;
}
@media(max-width: 992px){
    .news-post{
        margin-bottom: 30px;
    }
}

@media(max-width: 768px){
     
    .banner-title{
        padding-top: 0 ;
    }
    .banner-title{
        font-size: 1.7rem;
    }
 
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .testemonial{
        margin-bottom: 30px;
        text-align: center;
    }
    .service-box{
        margin-bottom: 30px;
    }

    .news-post{
        margin-bottom: 30px;
    }

    .testemonial{
        text-align: center;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
     #social-icons li{ 
                margin-top: 10px;
     }
}